@import "tailwindcss";





body{
  background-color: #1e1e1e;
}

#TaskList::-webkit-scrollbar{
  display: none;
  
}
#date::-webkit-calendar-picker-indicator{
  filter: invert(1);
}
#scroll::-webkit-scrollbar{
  display: none;
}